# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
env/
*.log

# Tools & IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Data / cache
*.npy
*.npz
*.csv
*.jsonl
tmp/
temp/
downloads/
